<table colspan="0" border="0">
    <tr class="trackHeader">
    	<td colspan="4">Track List</td>
	</tr>
	{% for variant in product.variants %}
	{% if variant.option1 == 'MP3' or variant.option1 == 'WAV' %}
		<tr>
			<td class="playButton">
				{% if variant.option3 != "no" %}
					<ul class="graphic"><li><a class="sm2_button" href="{{ variant.option3 }}"></a></li></ul>
				{% endif %}
			</td>
			<td class="trackName">
				{{ variant.option2 }}
			</td>
			<td class="trackPrice">
				{% if variant.available == true %}
					{{ variant.price | money }}
				{% endif %}
			</td>
			<td class="trackButton">
				{% if variant.available == true %}
				<form method="post" action="/cart/add">					
					<input type="hidden" name="id" value="{{variant.id}}" /> 
					<input type="add to cart" />
				</form>
				{% endif %}
			</td>
		</tr>
	{%endif%}
	{% endfor %}
</table>